<h5>
    {{itens.length}} Imóveis Encontrados
</h5>
<div class="row" ng-show="itens.length > 0">
    <div class="col s12 m6 l4 item" ng-repeat="item in itens">
        <div class="card">
            <div class="card-image">
                <img src="http://placehold.it/350x150/999?text=Sem Imagem" ng-show="item.imagens[0].url.indexOf('.jpg') == -1"/>
                <img src="{{item.imagens[0].url}}" ng-show="item.imagens[0].url.indexOf('.jpg') > -1"/>
                <span class="card-title">
                    {{item.nome}}
                </span>
            </div>
            <!-- /card-image -->
            <div class="card-content">
                <p>
                    {{item.sobre | limitTo:120}}...
                </p>
            </div>
            <!-- /card-content -->
            <div class="card-action">
                <a href="#imovel/{{item.id}}">
                    Ver detalhes
                </a>
            </div>
            <!-- /card-action -->
        </div>
        <!-- /card -->
    </div>
    <!-- /item -->

</div>
<!--
    /row
-->
